<!-- {{name+name}}

<input type="text" [(ngModel)]="name">
{{name*30}}
<a [href]="url">Google</a>

<button (click)="zzz()">Click Me!</button> -->
<!-- <app-lesson1></app-lesson1> -->

<!-- <app-lesson2></app-lesson2> -->

<!-- <app-lesson3></app-lesson3>
{{now | date:'yyyy-MM-dd'}}
<br>
{{now}} -->

<!-- <p>{{ 'example' | repeat: 3: '@' }}</p> -->

<!-- {{aaa.account}} -->


<!-- <app-pratice1></app-pratice1> -->

<!-- <app-lesson4></app-lesson4> -->

<!-- ----------------honework--------------------- -->
<!-- homework1
<br>
<app-homework1></app-homework1> -->

<!-- ----------------honework--------------------- -->

<!-- <app-lesson5></app-lesson5> -->

<!-- <app-lesson6></app-lesson6> -->
<!-- <app-lesson6-1></app-lesson6-1> -->

<a [routerLink]="['/lesson1']">Lesson1</a>
<a [routerLink]="['/lesson2']">Lesson2</a>
<a [routerLink]="['/lesson3']">Lesson3</a>
<a [routerLink]="['/lesson4']">Lesson4</a>
<a [routerLink]="['/lesson5']">Lesson5</a>
<a [routerLink]="['/lesson6']">Lesson6</a>
<a [routerLink]="['/dyclass']">dyclass</a>
<a [routerLink]="['/jq1']">jq1</a>
<a [routerLink]="['/lesson7']">Lesson7</a>
<a href="/lesson2">Lesson2 Origin</a>
<br>
<br> 
<!-- <div class="container"> -->
 <router-outlet></router-outlet>
<!-- </div> -->
 <!-- <br>
<br>homework2
<br>
<br>
 <app-homework2></app-homework2> -->

